* {
    text-align: center;
}

body {
    background-color: pink;
}

q {
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    color: darkgreen;
}

button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
}

button.big-button {
    width: 30%;
    margin: 10px;
    margin-bottom: 30px;
}

button.card {
    width: 5em;
    height: 5em;
    border: 4px solid black;
}

button.card-inactive {
    border-color: darkred;
    color: white;
    background-color: black;
}

button.card-active {
    border-color: black;
    color: white;
    background-color: darkgreen;
}

button.goal-button {
    color: black;
}

button.active-goal-button {
    background-color: darkgreen;
    color: white;
}

div.display {
    background-color: lightpink;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    padding-bottom: 10px;
}

div.display-internal {
    display: inline-block;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

div.display-internal h2 {
    text-decoration: underline;
}

.debug-border {
    border: 4px dotted red;
}

.debug-border-green {
    border: 4px dotted green;
    display: inline-block;
}

.green {
    color: darkgreen;
    font-weight: bolder;
}

.red {
    color: red;
    font-weight: bolder;
}
